@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'inter', sans-serif;
}

body{
    background-color: #f1f6fc31;
}
section,
footer{
    padding: 54px 0;
}
h3{
    font-size: 50px;
}
p{
    color: #0000009c;
}
header{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul a{
    color: white;
    margin: 0 25px;
    text-transform: uppercase;
    font-size: 14px;
    display: block;
}
nav ul a:not(.btn)::after{
    content: "";
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),                                -4px -4px 6px 0 rgba(116, 125, 136, .2),                       inset -4px -4px 6px 0 rgba(255,255,255,.5),                      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    height: 3px;
    width: 0%;
    display: block;
    margin: 0 auto;
    transition: 0.3s;
}
nav ul a:hover::after{
    width: 100%;
}
.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 5%;
}
.btn {
    border: none;
    overflow: hidden;
    background-color: #03d1ff9c;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
    background-image: linear-gradient(315deg, #1fd1f9 0%, #b621fe 74%);
    transition: all 0.3s ease;
}
.btn:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),                                -4px -4px 6px 0 rgba(116, 125, 136, .2),                       inset -4px -4px 6px 0 rgba(255,255,255,.5),                      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.banner{
    display: flex;
    justify-content: center;
}
.banner .banner-text{
    margin: 150px;
    text-align: center;
    padding: 0 90px;
}
.banner .banner-text h1{
    font-size: 96px;
    color: white;
}
.banner .banner-text p{
    font-size: 20px;
    color: #ffffffb7;
    font-weight: lighter;
    margin: 18px 0;
}
.faca-mais .container{
    display: flex;
    align-items: center;
}
.faca-mais .faca-mais-text{
    width: 50%;
    padding: 0 40px;
}
.faca-mais .faca-mais-text h3{
    font-size: 56px;
}
.faca-mais .faca-mais-text p{
    margin: 5px 0 10px 0;

}
.faca-mais .faca-mais-img{
    width: 50px;
}
.faca-mais .faca-mais-img img{
    width: 100%;
}
.depoimentos{
    text-align: center;
}
.depoimentos p{
    margin-bottom: 20px;
    text-align: center;
}
.cards{
    display: flex;
    justify-content: center;
}
.depoimentos .card-item{
    background-color: #d3e6fd;
    margin: 15px;
    border-radius: 14px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    text-align: center;
    width: 350px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.depoimentos .card-item img{
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    width: 80px;
    display: block;
    margin: 10px auto;
}
.depoimentos .card-item .nome-user{
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 15px;
}
.depoimentos .card-item .depomento-user{
    font-size: 15px;
    padding: 0 15px;
}
.depoimentos .card-item.estrelas{
    margin: 15px 0;
    border-top: 2px solid black;
}
.depoimentos .card-item .estrelas i{
    color: #1fd1f9;
    margin-top: 15px;
    font-size: 20px;
}
.depoimentos .card-item:hover{
    background-color: #b621fe;
}